@import "./src/styles/mixins";

* {
  box-sizing: border-box;

  & ul {
    padding: 0;
    margin: 0;
  }

  & a {
    text-decoration: none;
    color: black;
  }
}

body {
  position: relative;
}

.todo {
  width: 100%;
  height: 100vh;
  background-color: #4BBF6B;
  overflow-y: hidden;

  .todoHeader__boardsList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.13);
    background-color: #45aa5d;
    border-radius: 10px;
    width: 20%;
  }

  .todoHeader__boardsList::-webkit-scrollbar {
    width: 10px;
    background-color: #45aa5d;
    height: 10px;
  }

  .todoHeader__boardsList::-webkit-scrollbar-thumb {
    background-color: rgba(187, 191, 201, 0.53);
    border-radius: 10px;

  }
  &Header {
    color: #ffffff;

    &__title {
      @include header;
      justify-content: center;
      position: relative;
    }

    &__nav {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      left: 30px;
      top: 10px;
      cursor: pointer;
      font-size: 11px;
      transition: all .2s;

      & svg:hover path {
        fill: #FFB423;
      }

    }

    &__change {
      position: relative;
      width: 200px;
      background-color: rgba(255, 255, 255, .5);
      border-radius: 5px;

      & textarea {
        resize: none;
        border: none;
        padding: 5px;
        outline: none;
        background-color: rgba(255, 255, 255, 0);
        color: #ffffff;
      }

      & span {
        position: absolute;
        top: 17px;
        right: -3px;
        width: 45px;
        height: 15px;
        font-size: 13px;
        transform: rotate(90deg);
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        transition: all .2s;

        &:hover {
          color: #FFB423
        }
      }
    }

    &__boardsList {
      & .activeBoard {
        color: #FFB423
      }

      @include header;
      justify-content: flex-start;
      white-space: nowrap;
      overflow-x: auto;

      & a {
        color: #ffffff;
      }
    }

    &__board {
      padding: 5px;
      margin-left: 5px;
      cursor: pointer;
    }

    &__name {
      text-align: right;
      margin: 10px 10px 40px 0;
      height: 35px;
    }

    &__add {
      @include add(200px, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.2));
    }

    &__addNewBoard {
      @include input;
    }
  }


  .todoContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.13);
    background-color: #45aa5d;
    border-radius: 10px;
    width: 20%;
  }

  .todoContent::-webkit-scrollbar {
    width: 10px;
    background-color: #45aa5d;
    height: 10px;
  }

  .todoContent::-webkit-scrollbar-thumb {
    background-color: rgba(187, 191, 201, 0.53);
    border-radius: 10px;

  }

  &Content {
    height: 79vh;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding-left: 10px;

    &__add {
      @include add(272px, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.35));
    }

    &__input {
      @include input;
    }

    &__boardName {
      color: #ffffff;
      margin-bottom: 20px;
    }
  }

}

.column {
  display: inline-block;
  width: 272px;
  max-height: 100%;
  background-color: #EBECF0;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;

  &Wrapper {
    width: 272px;
    margin: 0 4px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 0;
    font-size: 18px;
    min-height: 20px;
    overflow: hidden;

    & h5 {
      word-wrap: break-word;
      white-space: normal;
      width: 205px;
    }

    & textarea {
      width: 100%;
      padding: 5px;
      outline: none;
      resize: none;
      border: none;
    }

  }

  .columnContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  .columnContent::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    height: 50%;
  }

  .columnContent::-webkit-scrollbar-thumb {
    background-color: #BFC4CE;
    border-radius: 10px;

  }

  &Content {
    max-height: 365px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    font-size: 13px;
  }

  &Footer {
    margin-top: 10px;

    &__add {
      max-height: 33px;
      min-height: 33px;

      & button {
        padding: 5px 30px;
        cursor: pointer;
        position: relative;
        width: 60%;
        max-height: 100%;
        border: none;
        background-color: #EBECF0;
        outline: none;
        border-radius: 5px;

        &::before {
          position: absolute;
          content: "+";
          font-size: 18px;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover {
          background-color: #DADBE2;
        }
      }

    }

    &__input {
      overflow-y: hidden;

      & textarea {
        display: block;
        padding: 5px 10px;
        font-size: 12px;
        width: 100%;
        height: 60px;
        resize: none;
        border: none;
        outline: none;
        margin-top: 3px;

      }

    }

    &__addCard {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & button {
        padding: 5px 20px;
        border-radius: 5px;
        background-color: #4BBF6B;
        border: none;
        outline: none;
        color: #ffffff;
        margin: 5px 10px 0 0;
        cursor: pointer;
      }

      & span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        cursor: pointer;
        margin-right: 5px;
      }
    }

  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px 10px;
  min-height: 25px;
  width: 260px;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
  margin-bottom: 5px;
  position: relative;


  &Change {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5px 0 0 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
  }

  &Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 6px;
    width: 80px;
    height: 20px;

    & span {
      cursor: pointer;

    }

    &__done, &__delete {
      margin-left: 8px;

    }
  }
}




@media (max-width: 860px) {
  .todo {
    &Header {
      &__title {
        justify-content: flex-end;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 600px) {
  .column{
    &Wrapper{
      max-height: 510px;
    }
  }
  .todo{
    &Header{
      &__title{
        align-items: flex-end;
        font-size: 12px;
      }
      &__change{
        width: 175px;
      }
    }
  }
}