* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.learning {
  display: grid;
  grid-template: "home home home" auto "subjects category text" auto;
  grid-template-columns: 3fr 4fr 5fr;
  background-color: #BDCCFF;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
.learning .home {
  grid-area: home;
  height: 30px;
  background-color: #848FB2;
}
.learning .home svg:hover path {
  fill: #E8D5D5;
}
.learningHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 20px 0;
  color: #ffffff;
  background-color: #4C5266;
  box-shadow: 1px 15px 15px 0 white;
  cursor: pointer;
}
.learningHeader:hover {
  color: #E8D5D5;
}
.learningList {
  width: 100%;
  max-height: 100vh;
}
.learningList__add {
  height: 30px;
}
.learningList__add input {
  outline: none;
  width: 100%;
  height: 30px;
  border-top: none;
  padding-left: 10px;
}
.learningList__list {
  height: 600px;
  width: 90%;
  margin-left: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.learningList__list li {
  min-height: 65px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  position: relative;
}
.learningList__list li div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding-left: 10px;
}
.learningList__list li:hover {
  opacity: 0.9;
  transform: scale(0.991);
}
.learningList__list li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  cursor: grab;
}
.learningList__list li:focus {
  outline: none;
}
.learningSubjects {
  grid-area: subjects;
  height: 100vh;
  background-color: #ffffff;
  z-index: 3;
  box-shadow: 1px 15px 15px 0 rgba(0, 0, 0, 0.1);
}
.learningCategory {
  grid-area: category;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 1px 15px 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.learning .deleteItem {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.learning .deleteItem svg {
  cursor: pointer;
  width: 17px;
  height: 17px;
  transition: all 0.3s;
}
.learning .deleteItem svg:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.learning .deleteItem svg:hover path {
  fill: rgba(0, 0, 0, 0.7);
}
.learningText {
  grid-area: text;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
}
.learningText__list {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding-right: 20px;
  margin-left: 20px;
}
.learningTextHeader__wrapper {
  width: 100%;
  background-color: #fff;
}
.learningText__window {
  position: relative;
  height: 100%;
  width: 100%;
}

.learningList__list::-webkit-scrollbar {
  width: 7px;
}

.learningList__list::-webkit-scrollbar-thumb {
  background-color: #000000;
  height: 10%;
  border-radius: 10px;
}

.learningList__list::-webkit-scrollbar-button {
  display: none;
}

.learningList__list::-webkit-scrollbar-track {
  display: none;
}

.learningList__list::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  border-radius: 10px;
}

.learningList__list::-webkit-scrollbar-corner {
  display: none;
}

.learningList__list::-webkit-resizer {
  display: none;
}

.animInput-appear-active {
  animation: animInputAppear 0.3s forwards;
}

@keyframes animInputAppear {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
.animCategoryPage-enter {
  transform: translateX(-1000px);
  transition: transform 0.5s;
}

.animCategoryPage-enter-active {
  transform: translateX(0);
  transition: transform 0.5s;
}

.animTextPage-enter {
  transform: translateX(-2000px);
  transition: transform 0.5s;
}

.animTextPage-enter-active {
  transform: translateX(0);
  transition: transform 0.5s;
}

@media (max-width: 975px) {
  .learning {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }
  .learning .home {
    height: 35px;
  }
  .learningList {
    overflow: auto;
  }
  .learningList__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    width: 95%;
    overflow: auto;
  }
  .learningList__list li {
    width: 150px;
    margin-left: 10px;
  }
  .learningHeader {
    font-size: 14px;
  }
  .learningSubjects {
    height: 200px;
    width: 100%;
  }
  .learningCategory {
    height: 200px;
    width: 100%;
  }
  .learningText {
    height: 250px;
    width: 100%;
  }
  .learningText__window {
    overflow-y: auto;
  }

  .animCategoryPage-enter {
    transform: translateY(-1000%);
    transition: transform 0.5s;
  }

  .animCategoryPage-enter-active {
    transform: translateY(-30%);
    transition: transform 0.5s ease;
  }

  .animTextPage-enter {
    transform: translateY(-1000%);
    transition: transform 0.5s;
  }

  .animTextPage-enter-active {
    transform: translateY(0);
    transition: transform 0.5s;
  }
}
@media (max-width: 620px) {
  .learningHeader {
    text-align: center;
    font-size: 12px;
  }
}

/*# sourceMappingURL=Style.css.map */
