* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.learning {
  display: grid;
  grid-template: "home home home" auto "subjects category text" auto;
  grid-template-columns: 3fr 4fr 5fr;
  background-color: #BDCCFF;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;

  & .home {
    grid-area: home;
    height: 30px;
    background-color: #848FB2;

    & svg {
      &:hover path {
        fill: #E8D5D5;
      }
    }
  }

  &Header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 20px 0;
    color: #ffffff;
    background-color: #4C5266;
    box-shadow: 1px 15px 15px 0 rgba(255, 255, 255, 255);
    cursor: pointer;

    &:hover {
      color: #E8D5D5;
    }
  }

  &List {
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    &__add {
      height: 30px;

      & input {
        outline: none;
        width: 100%;
        height: 30px;
        border-top: none;
        padding-left: 10px;
      }
    }

    &__list {
      height: 600px;
      width: 90%;
      margin-left: 5px;
      overflow-y: auto;
      overflow-x: hidden;

      & li {
        min-height: 65px;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 15px;
        position: relative;

        & div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          padding-left: 10px;
        }

        &:hover {
          opacity: .9;
          transform: scale(0.991);
        }

        & a {
          display: flex;
          align-items: center;
          width: 100%;
          height: 65px;
          cursor: grab;
        }

        &:focus {
          outline: none;
        }
      }
    }

  }

  &Subjects {
    height: 100vh;
    grid-area: subjects;
    background-color: #ffffff;
    z-index: 3;
    box-shadow: 1px 15px 15px 0 rgba(0, 0, 0, 0.1);
  }

  &Category {
    height: 100vh;
    grid-area: category;
    background-color: #ffffff;
    box-shadow: 1px 15px 15px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  .deleteItem {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 8px;
    right: 8px;

    & svg {
      cursor: pointer;
      width: 17px;
      height: 17px;
      transition: all .3s;

      &:hover {
        transform: scale(1.2);
        transition: all .3s;

        & path {
          fill: rgba(0, 0, 0, 0.7);
        }
      }


    }
  }

  &Text {
    height: 100vh;
    grid-area: text;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;


    &__list {
      display: grid;
      grid-template-columns: 3fr 3fr 3fr 3fr;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      padding-right: 20px;
      margin-left: 20px;
    }

    &Header__wrapper {
      width: 100%;
      background-color: #fff;
    }

    &__window {
      position: relative;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}


.learningList__list::-webkit-scrollbar {
  width: 7px;
}

.learningList__list::-webkit-scrollbar-thumb {
  background-color: #000000;
  height: 10%;
  border-radius: 10px;
}

.learningList__list::-webkit-scrollbar-button {
  display: none;
}

.learningList__list::-webkit-scrollbar-track {
  display: none;
}

.learningList__list::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  border-radius: 10px;
}

.learningList__list::-webkit-scrollbar-corner {
  display: none;
}

.learningList__list::-webkit-resizer {
  display: none;
}


//ANIM


//INPUT-HEADER
.animInput-appear-active {
  animation: animInputAppear .3s forwards;
}


@keyframes animInputAppear {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}


//CATEGORY

.animCategoryPage-enter {
  transform: translateX(-1000px);
  transition: transform .5s;
}

.animCategoryPage-enter-active {
  transform: translateX(0);
  transition: transform .5s;
}


//TEXT

.animTextPage-enter {
  transform: translateX(-2000px);
  transition: transform .5s;
}

.animTextPage-enter-active {
  transform: translateX(0);
  transition: transform .5s;
}


//MEDIA

@media (max-width: 975px) {
  .learning {
    overflow-x: auto;
    display: flex;
    flex-direction: column;

    & .home {
      height: 35px;
    }

    &List {
      overflow: auto;

      &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 100px;
        width: 95%;
        overflow: auto;

        & li {
          width: 130px;
          margin-left: 10px;
        }
      }
    }

    &Header {
      font-size: 14px;
    }

    &Subjects {
      height: 200px;
      width: 100%;
    }

    &Category {
      height: 200px;
      width: 100%;
    }

    &Text {
      width: 100%;
      height: 100%;
      overflow-y: auto;

      &__window {
        width: 100%;
      }
    }
  }
  .animCategoryPage-enter {
    transform: translateY(-1000%);
    transition: transform .5s;
  }

  .animCategoryPage-enter-active {
    transform: translateY(-30%);
    transition: transform .5s ease;
  }
  .animTextPage-enter {
    transform: translateY(-1000%);
    transition: transform .5s;
  }

  .animTextPage-enter-active {
    transform: translateY(0);
    transition: transform .5s;
  }
}

@media (max-width: 620px) {
  .learning {
    .learning {
      &List {
        &__list {
          height: 120px;
          width: 95%;
          overflow: auto;

          & li {
            width: 150px;
            margin-left: 10px;
          }
        }
      }

      &Header {
        height: 50px;
        text-align: center;
        font-size: 14px;
      }

      &Subjects {
        width: 100%;
      }

      &Category {
        width: 100%;
      }

      &Text {
        width: 100%;
        height: 100%;

        &__window {
          width: 100%;
        }

        &__list {
          grid-column-gap: 10px;
          grid-row-gap: 10px;
          height: 160px;
          padding-right: 20px;
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .learning {
    &List {
      &__list {
        height: 120px;
        width: 95%;
        overflow: auto;

        & li {
          width: 150px;
          margin-left: 10px;
        }
      }
    }

    &Header {
      height: 50px;
      font-size: 12px;
    }

    &Subjects {
      width: 375px;
    }

    &Category {
      width: 375px;
    }

    &Text {
      width: 375px;
      height: 100%;

      &__window {
        width: 375px;
      }

      &__list {
      }
    }
  }
}